<div *ngIf="!errorDis">
    <div *ngIf="errorDis">
        <h2>
            {{errorMsg}}
        </h2>
    </div>

    <div class="col-10 mx-5">

        <!-- <button (click)="createEmp()" class="btn1">Add Employee</button> -->
        <!-- <div class="container"> -->
        <!-- <br /> -->
        <table class="table table-bordered">
            <tr class="headtable bg-dark text-white">
                <th>SrNo</th>
                <th>Images</th>
                <th>FullName</th>
                <th>Moblie</th>
                <th id="dob">Date of Birth</th>
                <th>Email</th>
                <th>Address</th>
                <th>State</th>
                <th>Country</th>
                <th>Action</th>
            </tr>
            <ng-container *ngFor=" let e of Employee">
                <tr id="tr2">
                    <td>{{ e.id }}</td>
                    <!-- <td>{{e.images}}</td> -->
                    <td>
                        <img src={{e.images}} alt="" height="70px" width="70px">
                    </td>
                    <td>{{ e.firstName|titlecase }} {{ e.middleName|titlecase}} {{ e.lastName|titlecase }}</td>
                    <td>{{e.moblie}}</td>
                    <td>{{e.DOB |date:'dd-MM-yyyy'}}</td>
                    <td>{{e.email}}</td>
                    <td>{{e.address}} {{e.pincode}},{{e.city}} </td>
                    <td>{{e.state}}</td>
                    <td>{{e.country}}</td>
                    <td>
                        <button class=" btn btn-primary bg-primary " (click)="OnselectviewEmp(e.id)">View</button>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>

</div>
<!-- </div> -->