<!-- <div class="row row-cols-2 g-4 m-1" *ngFor="let e of empcard">
    <div class="col">
        <div class="card">
            <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                    <img src="../assets/images/1.png" alt="...">
                </div>
                <div class="flex-grow-1 ms-2">
                    <h5>Name- {{e.firstName |uppercase}} {{e.lastName |uppercase}} </h5>
                    <h6>Address- {{e.address |uppercase}} {{e.lastName |uppercase}} </h6>
                </div>
            </div>
            <div class=" card-body">
                <h5 class="card-title">{{e.firstName}} </h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>

    </div>
</div> -->
<!-- 
<div class="app-contaner">
    <h1>Empcard</h1>
    <div class="pokemon-container">
        <div class="all-container">
            <ng-container *ngFor="let e of empcard">

                <div class='thumb-container-{{e.id}} thumb-container'>
                    <div class="number">
                        <small><span>ID:-</span>{{e.id}}</small>
                    </div>
                    <img src="../assets/images/2.png" alt="empimages">
                    <div class="detail-wrapper numbers">
                        <h3> <span>Name:-</span> {{e.firstName|uppercase}} {{e.lastName|uppercase}}</h3>
                        <h3> <span>DOB:-</span>{{e.DOB |date:'dd MMM yyyy' }}</h3>
                        <h3> <span>Moblie:-</span> {{e.moblie }}</h3>
                        <h3><span>Email:-</span> {{e.email }}</h3>
                        <h3> <span>Address:-</span>{{e.address}} </h3>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div> -->