<!-- <div class="row row-cols-2 g-4 m-1" *ngFor="let e of empcard">
    <div class="col">
        <div class="card">
            <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                    <img src="../assets/images/1.png" alt="...">
                </div>
                <div class="flex-grow-1 ms-2">
                    <h5>Name- {{e.firstName |uppercase}} {{e.lastName |uppercase}} </h5>
                    <h6>Address- {{e.address |uppercase}} {{e.lastName |uppercase}} </h6>
                </div>
            </div>
            <div class=" card-body">
                <h5 class="card-title">{{e.firstName}} </h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                    additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>

    </div>
</div> -->


<div class="row row-cols-1 row-cols-3 md-5 g-4">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="card">
                    <img src="../assets/images/1.png" alt="..." height="100px " width="100px">
                    <div class="col">
                        <h1>dwmjndjk</h1>
                    </div>
                </div>
            </div>


            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div>